* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
ul,
li,
a {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.container-xxl {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
.container {
  max-width: 1245px;
  padding-left: 81px;
  margin: 0 auto;
}
.container-xl {
  max-width: 1376px;
  padding: 0px 16px;
  margin: 0 auto;
}
.container-lg {
  max-width: 1202px;
  padding: 0px 16px;
  margin: 0 auto;
}
.container-md {
  max-width: 1022px;
  padding: 0px 16px;
  margin: 0 auto;
}
.container-sm {
  max-width: 1002px;
  padding: 0px 16px;
  margin: 0 auto;
}
.container-vision {
  max-width: 1168px;
  padding: 0px 79px 0px 0px;
  margin: 0 auto;
}

.bg {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.bg-img {
  width: 866px;
  height: 677px;
  padding-left: 30px;
  position: absolute;
}
.bg-img img {
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center left;
}
.bg::before {
  content: "Owner’s";
  position: absolute;
  left: 58%;
  top: 1.5%;
  letter-spacing: 2px;
  font-size: 140px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #acacac;
  opacity: 0.2;
}
.bg::after {
  content: "salon";
  position: absolute;
  left: 80%;
  top: 2.9%;
  font-size: 140px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  color: transparent;
  -webkit-text-stroke: 1px #acacac;
  opacity: 0.2;
  font-family: "Parisienne", cursive;
}
/* responsive for Bg */
/* Screen smaller than 1025 */
@media (max-width: 1025px) {
  .bg-img {
    width: 566px;
    height: 477px;
  }
}
/* Screen smaller than 480px */
@media (max-width: 480px) {
  .bg-img {
    width: 402px;
    height: 316px;
    position: absolute;
    left: 44px;
    padding-left: 0px;
  }
  .bg::before {
    content: "Owner’s";
    position: absolute;
    left: 58%;
    top: 1.5%;
    letter-spacing: 2px;
  }
}

/* Section Sticky icon */
.social-icons {
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 1000;
}
.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: white;
  box-shadow: 0px 4px 6px 0px #00000030;
  text-decoration: none;
  border-top-left-radius: 48px;
  border-bottom-left-radius: 48px;
}
.social-icons a i {
  font-size: 28px;
}
@media (max-width: 1025px) {
  .social-icons {
    display: none;
  }
}
/* Section Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0px;
  position: relative;
  z-index: 3;
}
.header-logo {
  /* width: 142px; */
  height: 50px;
}
.header-logo p {
  text-align: right;
}
.header-logo p:first-child {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: #373338;
}
.header-logo p:nth-child(2) {
  font-size: 32px;
  font-weight: 400;
  line-height: 94%;
  color: #373338;
  font-family: "Parisienne", cursive;
}
.header ul li {
  display: inline-block;
  margin-right: 28px;
}
.header ul li:last-child {
  margin-right: 0;
}
.header ul li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  color: #373338;
}
.login-btn {
  border: 1px solid #99379b;
  border-radius: 53px;
  background-color: #99379b;
  padding: 14px 21px;
  font-weight: 700 !important;
  letter-spacing: 3.2px;
  text-align: center;
  color: #ffffff !important;
}
.menu {
  display: none;
}
/* responsive for Header */
/* Screen smaller than 1025 */
@media (max-width: 1025px) {
  .header ul li {
    display: none;
  }
  .menu {
    display: block;
  }
}
/* Screen smaller than 480px */
@media (max-width: 480px) {
  .header {
    padding: 18px 0px;
  }
  .header-logo {
    height: 41px;
  }
  .header-logo p:first-child {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 4px;
  }
  .header-logo p:nth-child(2) {
    font-size: 26px;
    line-height: 100%;
  }
}

/* Section Banner */
.banner-ctn {
  position: relative;
  z-index: 2;
  padding-top: 324px;
}
.banner {
  display: flex;
  align-items: center;
  gap: 183px;
}
.banner-content {
  max-width: 580px;
  padding-top: 35px;
}
.banner-content h1 {
  font-size: 148px;
  font-weight: 400;
  line-height: 148px;
  color: #373338;
  margin-bottom: 25px;
  font-family: "Parisienne", cursive;
  position: relative;
}
.banner-content h1::after {
  content: "";
  position: absolute;
  bottom: -9.5%;
  left: -41%;
  transform: translateX(50%);
  width: 461px;
  height: 56px;
  background: url(./img/Vector\ 3.png) no-repeat center / contain;
}
.banner-content p {
  font-size: 24px;
  font-weight: 300;
  line-height: 44px;
  color: #373338;
  text-transform: uppercase;
}
.title-bottom {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-top: 15px;
}
.title-bottom-text {
  font-size: 14px !important;
  font-weight: 400;
  line-height: 24px !important;
  color: #373338;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}
.title-bottom-text span {
  font-size: 24px;
  font-weight: 700;
  line-height: 44px !important;
  color: #373338;
  text-transform: uppercase;
}
.banner-img {
  width: 400px;
  height: 600px;
}
.banner-img img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 200px;
}
/* responsive for Banner */
/* Screen smaller than 1280px */
@media (max-width: 1280px) {
  .container {
    padding: 0px 16px;
  }
  .banner {
    gap: 100px;
    justify-content: center;
  }
}
/* Screen smaller than 1025 */
@media (max-width: 1025px) {
  .banner-ctn {
    padding-top: 150px;
  }
  .banner-img {
    display: none;
  }
}
/* Screen smaller than 480px */
@media (max-width: 480px) {
  .banner-content {
    padding-top: 58px;
  }
  .banner-content h1 {
    font-size: 60px;
    line-height: 68.35px;
    margin-bottom: 9px;
  }
  .banner-content h1::after {
    left: -32%;
    width: 213px;
    height: 26.7px;
  }
  .banner-content p {
    font-size: 22px;
    line-height: 28px;
  }
  .title-bottom {
    margin-top: 9px;
  }
  .title-bottom-img {
    display: none;
  }
  .title-bottom-text {
    letter-spacing: 0px;
  }
  .title-bottom-text span {
    font-size: 18px;
    line-height: 28px !important;
  }
}

/* Section Introduce */
.introduce-ctn {
  padding: 47px 0px 97px;
  position: relative;
}
.introduce-ctn::before {
  content: "";
  position: absolute;
  width: 1458px;
  height: 648px;
  background-color: #f6f7f8;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  bottom: 0px;
  left: -1179px;
  transform: scaleY(-1);
  z-index: -1;
}
.introduce-ctn::after {
  content: "";
  position: absolute;
  width: 1458px;
  height: 648px;
  background-color: #f6f7f8;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  bottom: 0px;
  left: 1161px;
  transform: scaleY(-1);
  z-index: -1;
}
.introduce-content {
  text-align: center;
}
.introduce-content-title {
  max-width: 552px;
  margin: 0 auto 52px;
  position: relative;
}
.introduce-content-title h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 6.4px;
  text-transform: uppercase;
  color: #373338;
  /* margin-bottom: 25px; */
  margin-bottom: 101px;
}
.introduce-content-title h2::after {
  content: "";
  position: absolute;
  bottom: 71%;
  left: 47%;
  transform: translateX(50%);
  width: 17px;
  height: 44px;
  background: url(./img/Line\ 11.png) no-repeat center / contain;
}
.introduce-content-title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  color: #373338;
  margin-bottom: 25px;
  letter-spacing: -0.2px;
}
.introduce-content-title span {
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
}
.introduce-content-gif h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  color: #373338;
  margin-bottom: 26px;
}
.gif-ctn {
  display: flex;
  gap: 16px;
}
.box {
  width: 110px;
}
.gif-box {
  padding: 29px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e0e5e7;
  border-radius: 32px;
  background-color: #f5f8f9;
  margin-bottom: 7px;
}
.gif-box-img {
  width: 76px;
}
.gif-box-img img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  background: transparent;
}
.box-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -1.8px;
  text-transform: uppercase;
  color: #373338;
}
/* responsive for Introduce Section */
/* Screen smaller than 1280px */
@media (max-width: 1280px) {
  .introduce-ctn::before,
  .introduce-ctn::after {
    display: none;
  }
}
/* Screen smaller than 768px */
@media (max-width: 768px) {
  .gif-ctn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 20px;
  }
  .box {
    width: 100%;
  }
}
/* Screen smaller than 480px */
@media (max-width: 480px) {
  .introduce-ctn {
    padding: 42px 0px 50px;
  }
  .introduce-content-title h2 {
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 2.8px;
    margin-bottom: 27px;
  }
  .introduce-content-title h2::after {
    display: none;
  }
  .introduce-content-title p {
    letter-spacing: 0px;
  }
  .introduce-content-title span {
    font-size: 20px;
  }
  .introduce-content-title {
    margin: 0 auto 26px;
  }
  .introduce-content-gif h3 {
    margin-bottom: 27px;
  }
  .gif-ctn {
    column-gap: 10px;
    row-gap: 13px;
  }
  .gif-box {
    padding: 22px 0px 16px;
    border-radius: 22.4px;
  }
  .gif-box-img {
    width: 53.2px;
  }
  .box-desc {
    font-size: 12px;
    letter-spacing: 0px;
  }
}

/* Section Advantage */
.advan-ctn {
  padding-bottom: 102px;
}
.advan-ctn-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.advan-bgImg {
  /* width: 360px; */
  height: 400px;
}
.advan-bgImg img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.advan-content-title {
  position: relative;
  margin-top: 85px;
  margin-bottom: 93px;
}
.advan-content-title h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 6.4px;
  text-transform: uppercase;
  color: #373338;
  text-align: center;
}
.advan-content-title h2::after {
  content: "";
  position: absolute;
  top: 167%;
  left: 49%;
  width: 19px;
  height: 44px;
  background: url(./img/Line\ 11.png) no-repeat center / contain;
}
.advan-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 32px;
  row-gap: 48px;
}
.grid-item {
  display: flex;
  position: relative;
  gap: 16px;
}
.grid-item::after {
  content: "";
  position: absolute;
  width: 175px;
  height: 175px;
  background-color: #dde6ea;
  border-radius: 113px;
  bottom: -7px;
  left: 86px;
  transform: translateX(-50%);
  z-index: -1;
}
.grid-item-num {
  font-size: 64px;
  font-weight: 100;
  line-height: 100%;
  letter-spacing: 4.1px;
  color: #710e73;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 17px;
}
.grid-item-line {
  width: 52.25px;
}
.grid-item-info {
  margin-top: 10px;
}
.info-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  color: #373338;
  margin-bottom: 17px;
}
.grid-item-info p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #373338;
}
/* responsive for Advan Section */
/* Screen smaller than 1025 */
@media (max-width: 1025px) {
  .advan-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    row-gap: 65px;
  }
}
/* Screen smaller than 480px */
@media (max-width: 480px) {
  .advan-ctn {
    padding-bottom: 47px;
  }
  .advan-ctn-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 cột */
    grid-template-rows: repeat(2, auto); /* 2 hàng */
  }
  .advan-bgImg {
    width: 100%;
    height: 210px;
  }
  .advan-content-title {
    margin-top: 49px;
    margin-bottom: 24px;
  }
  .advan-content-title h2 {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2.8px;
  }
  .advan-content {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 8px;
  }
  .grid-item {
    background-color: #f2f5f6;
    border-radius: 16px;
    padding: 16px;
    gap: 0px;
  }
  .grid-item::after {
    display: none;
  }
  .grid-item-num {
    position: absolute;
    right: -5px;
    top: -13px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0px;
    font-style: italic;
    background-color: #ffffff;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .grid-item-line {
    display: none;
  }
  .grid-item-info {
    order: -1;
    margin-top: 0px;
  }
  .info-name {
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 26px;
  }
  .grid-item:first-child .info-name {
    line-height: 100%;
    margin-bottom: 11px;
  }
}

/* Section Customer */
.customer-ctn {
  padding-top: 85px;
  background-color: #f7f7f8;
}
.customer-content-title {
  position: relative;
  margin-bottom: 65px;
}
.customer-content-title h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 6.4px;
  text-transform: uppercase;
  color: #373338;
  text-align: center;
  /* margin-bottom: 25px; */
  /* margin-bottom: 101px; */
}
.customer-content-title h2::after {
  content: "";
  position: absolute;
  top: 167%;
  left: 49%;
  width: 19px;
  height: 44px;
  background: url(./img/Line\ 11.png) no-repeat center / contain;
}
/* responsive for Customer Section */
/* Screen smaller than 480px */
@media (max-width: 480px) {
  .customer-ctn {
    padding-top: 52px;
  }
  .customer-content-title h2 {
    font-size: 28px;
    letter-spacing: 2.8px;
  }
  .customer-content-title h2::after {
    display: none;
  }
}

/*  Conversation */
.conversation-ctn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  padding: 0px 34px 0px 21px;
}
.conversation-q {
  padding: 0px 67px 25px 43px;
  width: 449.7px;
  height: 153.3px;
  background-image: url(./img/Vector.png);
  background-size: contain;
  /* background-position: center; */
  background-repeat: no-repeat;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  color: #373338;
}
.conversation-ctn:nth-child(3) .conversation-q {
  padding: 0px 65px 25px 43px;
}
.conversation-ctn:nth-child(4) .conversation-q {
  padding: 0px 25px 18px 43px;
}
.conversation-a {
  padding: 0px 70px 32px 35px;
  width: 449.7px;
  height: 153.3px;
  background-image: url(./img/Vector1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  color: #373338;
}
.customer-img {
  display: flex;
  justify-content: center;
  gap: 44px;
  margin-top: 35px;
}
/* responsive for Conversation Section */
/* Screen bigger than 1025 */
@media (min-width: 1026px) {
  .conversation-a {
    position: absolute;
    top: 57px;
    right: 36px;
  }
}
/* Screen smaller than 1025 */
@media (max-width: 1025px) {
  .conversation-ctn {
    padding: 0px;
    justify-content: space-between;
    flex-direction: column;
  }
  .conversation-q,
  .conversation-a {
    padding: 10px 32px 38px;
  }
  .conversation-q {
    align-self: flex-start;
  }
  .conversation-a {
    align-self: flex-end;
  }
}
@media (min-width: 480px) {
  .conversation-q,
  .conversation-a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* Screen smaller than 480px */
@media (max-width: 480px) {
  .conversation-q {
    padding: 19px 34px 0px 28px;
    width: 298.5px;
    height: 101.1px;
    font-size: 14px;
    line-height: 24px;
    margin-left: -9px;
  }
  .conversation-a {
    padding: 26px 37px 0px 22px;
    width: 298.5px;
    height: 101.1px;
    font-size: 14px;
    line-height: 24px;
    /* margin-left: -9px; */
  }
  .customer-content-title {
    margin-bottom: 34px;
  }
  .conversation-ctn {
    gap: 4px;
  }
  .conversation-ctn:nth-child(1) {
    gap: 10px;
  }
  .conversation-ctn:nth-child(2) .conversation-q,
  .conversation-ctn:nth-child(3) .conversation-q,
  .conversation-ctn:nth-child(4) .conversation-q {
    padding: 15px 35px 0px 27px;
  }
  .conversation-ctn:nth-child(2) .conversation-a,
  .conversation-ctn:nth-child(3) .conversation-a,
  .conversation-ctn:nth-child(4) .conversation-a {
    padding: 13px 36px 0px 24px;
  }

  .customer-img {
    gap: 15px;
    margin-top: 22px;
    justify-content: space-between;
  }
  .customer-img-ctn {
    width: 113.37px;
    height: 113.37px;
  }
  .customer-img-ctn img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .customer-img-ctn:nth-child(4),
  .customer-img-ctn:nth-child(5) {
    display: none;
  }
}

/* Section Data */
.data-ctn {
  padding-top: 79px;
  padding-bottom: 36px;
}
.data-content-title {
  position: relative;
  margin-bottom: 101px;
}
.data-content-title h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 6.4px;
  text-transform: uppercase;
  color: #373338;
  text-align: center;
}
.data-content-title h2::after {
  content: "";
  position: absolute;
  top: 167%;
  left: 49%;
  width: 19px;
  height: 44px;
  background: url(./img/Line\ 11.png) no-repeat center / contain;
}
.chart-ctn {
  display: flex;
  gap: 71px;
  margin-bottom: 47px;
}
.chart-ctn:nth-child(2),
.chart-ctn:nth-child(3) {
  gap: 46px;
}
.chart-ctn:nth-child(2) .left {
  padding: 128px 38px 0px 81px;
}
.chart-ctn:nth-child(3) .left {
  padding: 90px 83px 0px 35px;
}
.chart-ctn:nth-child(3) .right {
  width: 68%;
  padding: 0px;
  height: 449px;
}
.chart-ctn:nth-child(3) .right img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
  border-top-left-radius: 56px;
  border-bottom-left-radius: 56px;
}
.right {
  width: 68%;
  padding: 36px 69px 39px 70px;
  background-color: #f6f7f8;
  border-top-right-radius: 56px;
  border-bottom-right-radius: 56px;
}
.right:nth-child(1) img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.right:nth-child(2) {
  width: 68%;
  padding: 0px;
  height: 449px;
  border-top-left-radius: 56px;
  border-bottom-left-radius: 56px;
}
.right:nth-child(2) img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 56px;
  border-bottom-left-radius: 56px;
}
.left {
  width: 48%;
  padding: 110px 76px 20px 10px;
}
.chart-num {
  border: 2px dashed #710e73;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 36px;
  font-weight: 300;
  line-height: 40px;
  font-style: italic;
  color: #710e73;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 31px;
}
.chart-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  color: #373338;
}
/* responsive for Data Section */
/* Screen smaller than 1025px */
@media (max-width: 1025px) {
  .chart-ctn {
    gap: 30px;
  }
  .right {
    padding: 40px 30px;
  }
  .left,
  .chart-ctn:nth-child(2) .left,
  .chart-ctn:nth-child(3) .left {
    padding: 20px 10px;
  }
  .chart {
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
/* Screen smaller than 768px */
@media (max-width: 768px) {
  .data-content {
    padding: 0px 16px;
  }
  .chart-ctn {
    flex-direction: column;
  }
  .chart-ctn:nth-child(2) {
    flex-direction: column-reverse;
  }
  .right,
  .right:nth-child(2),
  .chart-ctn:nth-child(3) .right {
    width: 100%;
    border-radius: 16px;
  }
  .right:nth-child(2) img,
  .chart-ctn:nth-child(3) .right img {
    border-radius: 16px;
  }
  .left {
    width: 100%;
    display: flex;
    gap: 25px;
  }
  .chart-num {
    margin-bottom: 0px;
    aspect-ratio: 1 / 1;
  }
}
/* Screen smaller than 480px */
@media (max-width: 480px) {
  .data-ctn {
    padding-top: 48px;
    padding-bottom: 33px;
  }
  .data-content-title {
    margin-bottom: 34px;
  }
  .data-content-title h2 {
    font-size: 28px;
    letter-spacing: 2.8px;
  }
  .data-content-title h2::after {
    display: none;
  }
  .chart-num {
    width: 56px;
    height: 56px;
    font-size: 25.2px;
    line-height: 28px;
  }
  .chart-ctn,
  .chart-ctn:nth-child(2),
  .chart-ctn:nth-child(3) {
    gap: 17px;
    margin-bottom: 15px;
  }
  .right {
    padding: 15px 12px;
  }
  .left,
  .chart-ctn:nth-child(2) .left,
  .chart-ctn:nth-child(3) .left {
    padding: 0px;
  }
  .left {
    gap: 16px;
  }
  .chart-text {
    line-height: 30px;
  }
  .right:nth-child(2),
  .chart-ctn:nth-child(3) .right {
    height: 210px;
  }
}

/* Section Price */
.price-ctn {
  background-blend-mode: multiply;
  background: linear-gradient(
      to right,
      rgba(246, 239, 246, 1),
      rgba(228, 240, 243, 1)
    ),
    url("./img/price.png");
  padding: 84px 0px 80px;
}
.price-content-title {
  position: relative;
  margin-bottom: 100px;
}
.price-content-title h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 6.4px;
  text-transform: uppercase;
  color: #373338;
  text-align: center;
}
.price-content-title h2::after {
  content: "";
  position: absolute;
  top: 167%;
  left: 49%;
  width: 19px;
  height: 44px;
  background: url(./img/Line\ 11.png) no-repeat center / contain;
}
.price-content {
  background-color: #ffffff;
  border-radius: 56px;
  padding: 57px 0px 57px 0px;
  text-align: center;
}
.card-ctn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin-bottom: 37px;
  gap: 73px;
}
.price-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  position: relative;
}
.price-card:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -45px;
  width: 20px;
  height: 284px;
  border-radius: 100px;
  background-color: #f8f8f8;
}
.card-img {
  width: 120px;
  height: 120px;
}
.card-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.card-info-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #373338;
  margin-top: 10px;
  margin-bottom: 54px;
}
.card-info-price {
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #99379b;
}
.card-info-price span {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #373338;
}
.price-content-note {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #373338;
}
.price-content-note span {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #373338;
}
@media screen and (min-width: 481px) {
  .price-card {
    justify-content: center;
    align-items: center;
  }
}
/* Screen smaller than 768px */
@media (max-width: 768px) {
  .price-content {
    background-color: transparent;
    padding: 0px;
  }
  .card-ctn {
    grid-template-columns: 1fr;
    gap: 9px;
    margin-bottom: 24px;
  }
  .price-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .price-card {
    flex-direction: row;
    justify-content: space-around;
    border-radius: 16px;
    padding: 16px 19px;
    /* gap: 28px; */
  }
}
/* Screen smaller than 480px */
@media (max-width: 480px) {
  .price-ctn {
    padding: 51px 0px 49px;
  }
  .price-content-title {
    margin-bottom: 33px;
  }
  .price-content-title h2 {
    font-size: 28px;
    letter-spacing: 2.8px;
  }
  .card-ctn {
    grid-template-columns: 1fr;
    gap: 9px;
    margin-bottom: 24px;
  }

  .price-content {
    background-color: transparent;
    padding: 0px;
  }
  .price-card {
    flex-direction: row;
    /* justify-content: space-between; */
    border-radius: 16px;
    padding: 16px 19px;
    gap: 28px;
  }
  .price-card:not(:last-child)::after {
    display: none;
  }
  .price-card:last-child {
    padding: 16px 7px;
    gap: 40px;
  }
  .card-info {
    text-align: left;
  }
  .card-info-title {
    font-size: 20px;
    line-height: 30px;
    margin-top: 7px;
    margin-bottom: 8px;
  }
}

/* Section Address */
.address-ctn {
  padding: 84px 0px 79px;
}
.address-content-title {
  position: relative;
  margin-bottom: 102px;
}
.address-content-title h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 6.4px;
  text-transform: uppercase;
  color: #373338;
  text-align: center;
}
.address-content-title h2::after {
  content: "";
  position: absolute;
  top: 167%;
  left: 49%;
  width: 19px;
  height: 44px;
  background: url(./img/Line\ 11.png) no-repeat center / contain;
}
.address-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 29px;
}
.map-img {
  margin-bottom: 24px;
}
.map-img img,
.address-content-img img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.map-img img {
  border-radius: 16px;
}
.address-content-img img {
  border-radius: 56px;
}
.map-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.map-info-text h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #373338;
  margin-bottom: 10px;
}
.map-info-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #373338;
}
.map-info-btn a {
  width: 156px;
  padding: 10px 0px;
  border-radius: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99379b;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 2.8px;
  cursor: pointer;
}
/* responsive for Address Section */
/* Screen smaller than 768px */
@media (max-width: 768px) {
  .address-content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "address-content-img"
      "map";
  }
  .address-content-img {
    grid-area: address-content-img;
  }
  .map {
    grid-area: map;
  }
  .map {
    flex-direction: column-reverse;
    display: flex;
  }
  .map-img img {
    border-radius: 0px;
  }
}
/* Screen smaller than 480px */
@media (max-width: 480px) {
  /* .container-lg{
padding: 0px;
  } */
  .address-ctn {
    padding: 49px 0px 0px;
  }
  .address-content-title {
    margin-bottom: 29px;
  }
  .address-content-title h2 {
    font-size: 28px;
    letter-spacing: 2.8px;
  }
  .address-content-title h2::after {
    display: none;
  }
  .address-content-img img {
    border-radius: 40.77px;
    height: 290px;
  }
  .map-img {
    margin-bottom: 0px;
  }
  .map-info {
    flex-direction: column;
    align-items: flex-start;
  }
  .address-content {
    gap: 12px;
  }
  .map {
    gap: 24px;
  }
  .map-info-text {
    margin-bottom: 8px;
  }
  .map-info-text h5 {
    margin-bottom: 8px;
  }
  .map-img img {
    height: 247px;
    width: 100%;
  }
}

/* Section Form */
.form-ctn {
  padding: 84px 0px 175px;
  background-color: #f6f7f8;
}
.form-content-title {
  position: relative;
  margin-bottom: 102px;
}
.form-content-title h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 6.4px;
  text-transform: uppercase;
  color: #373338;
  text-align: center;
  margin-right: -43px;
}
.form-content-title h2::after {
  content: "";
  position: absolute;
  top: 167%;
  left: 51%;
  width: 19px;
  height: 44px;
  background: url(./img/Line\ 11.png) no-repeat center / contain;
}
.form-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 29px;
}
.form-content-img {
  display: flex;
  align-items: center;
}
.form-content-line {
  width: 400px;
  height: 752px;
  background: linear-gradient(to bottom, #f6eff6, #e4f0f3);
  border-radius: 400px;
  position: relative;
  top: 47px;
}
.form-content-line::before {
  content: "";
  position: absolute;
  width: 390px;
  height: 732px;
  top: 10px;
  left: 37px;
  border: 1px solid #a4c6ce;
  border-radius: 400px;
}
.form-content-line::after {
  content: "";
  position: absolute;
  width: 390px;
  height: 732px;
  top: 10px;
  left: 69px;
  border: 1px solid #a4c6ce;
  border-radius: 400px;
}
.img-ctn {
  width: 400px;
  height: 672px;
  top: 33px;
  right: -95px;
  position: absolute;
  z-index: 2;
}
.img-ctn img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 400px;
}
.cta-form {
  background-color: #ffffff;
  border-radius: 56px;
  padding: 48px;
}
.cta-form p {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #373338;
  margin-bottom: 32px;
}
.form__label {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #373338;
}
.form__input {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: #373338;
  width: 100%;
  background-color: #f1f3f5;
  border: none;
  padding: 16px;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 23px;
}
.checkbox-container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #373338;
  margin-bottom: 20px;
}
.checkbox-container input {
  width: 22px;
  height: 24px;
  border: 1px solid #373338;
  cursor: pointer;
}
.checkbox-container span a {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #373338;
  text-decoration: underline;
}
.form-btn {
  border: 1px solid #99379b;
  border-radius: 53px;
  background-color: #99379b;
  padding: 11px 66px;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 3.2px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
/* responsive for Form Section */
/* Screen smaller than 1025px */
@media (max-width: 1025px) {
  .form-content-line {
    width: 250px;
    height: 452px;
    border-radius: 200px;
    top: 0px;
  }
  .form-content-line::before {
    width: 250px;
    height: 452px;
    top: 0px;
    left: 30px;
    border-radius: 200px;
  }
  .form-content-line::after {
    width: 250px;
    height: 452px;
    top: 0px;
    left: 60px;
    border-radius: 200px;
  }
  .img-ctn {
    width: 250px;
    height: 452px;
    top: 0px;
    left: 90px;
  }
}
/* Screen smaller than 768px */
@media (max-width: 768px) {
  .form-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .form-content-img {
    display: none;
  }
}
/* Screen smaller than 480px */
@media (max-width: 480px) {
  .form-ctn {
    padding: 47px 0px 47px;
  }
  .form-content-title {
    margin-bottom: 26px;
  }
  .form-content-title h2 {
    font-size: 28px;
    letter-spacing: 2.8px;
    margin-right: 0px;
  }
  .form-content-title h2::after {
    display: none;
  }
  .cta-form {
    border-radius: 16px;
    padding: 24px 24px;
  }
  .cta-form p {
    margin-bottom: 17px;
  }
  .form__input {
    margin-bottom: 15px;
  }
  .checkbox-container {
    gap: 13px;
    margin-bottom: 16px;
  }
  .checkbox-label {
    margin-top: -4px;
  }
}

/* Section Overview */
.overview-ctn {
  padding: 84px 0px 80px;
}
.overview-content-title {
  position: relative;
  margin-bottom: 101px;
}
.overview-content-title h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 6.4px;
  text-transform: uppercase;
  color: #373338;
  text-align: center;
}
.overview-content-title h2::after {
  content: "";
  position: absolute;
  top: 167%;
  left: 49%;
  width: 19px;
  height: 44px;
  background: url(./img/Line\ 11.png) no-repeat center / contain;
}
.overview-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 29px;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background: white;
  text-align: left;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid #d9e5e8;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 16px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 16px;
}
.col1 {
  width: 18%;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #373338;
  padding: 15px 15px;
}
.col2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #373338;
}
td {
  padding: 15.5px;
  border-bottom: 1px solid #d9e5e8;
  border-right: 1px solid #d9e5e8;
}
td:last-child {
  border-right: none;
}
tr:last-child td {
  border-bottom: none;
}
.overview-ctn img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 56px;
}
/* responsive for Overview Section */
/* Screen smaller than 768px */
@media (max-width: 768px) {
  .overview-content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "overview-img"
      "overview-table";
  }
  .overview-img {
    grid-area: overview-img;
  }
  .overview-table {
    grid-area: overview-table;
  }
}
/* Screen smaller than 480px */
@media (max-width: 480px) {
  .overview-ctn {
    padding: 52px 0px 47px;
  }
  .overview-content-title {
    margin-bottom: 33px;
  }
  .overview-content-title h2 {
    font-size: 28px;
    letter-spacing: 2.8px;
  }
  .overview-content {
    gap: 12px;
  }
  .overview-ctn img {
    height: 280px;
  }
  .col1 {
    width: 29.5%;
  }
}

/* Section Vision */
.vision-ctn {
  padding: 80px 0px 81px;
  background: linear-gradient(to right, #f6eff6, #e4f0f3);
}
.vision-content {
  display: grid;
  grid-template-columns: 61.7% 33.9%;
  gap: 4.6%;
}
.vision-content-text h2,
.vision-content-mask h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 7.6px;
  text-transform: uppercase;
  color: #373338;
  margin-top: 4px;
  margin-bottom: 41px;
}
.vision-content-mask h2 {
  color: #ffffff;
  margin-top: -31px !important;
  margin-bottom: 92px !important;
}
.vision-content-text h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: #373338;
  margin-bottom: 17px;
}
.vision-content-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  color: #373338;
}
.first-text {
  margin-bottom: 25px !important;
}
.vision-content-mask {
  position: relative;
  border-radius: 56px;
  background-color: #710e73;
  padding: 100px 50px 138px;
  color: #ffffff;
}
.vision-content-mask::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/vision.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.04;
  border-radius: 56px;
  z-index: 1;
}
.vision-content-position {
  display: flex;
  justify-content: space-between;
}
.vision-content-position h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.vision-content-position p {
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
}
.vision-content-position .line {
  width: 20%;
  border-bottom: 2px solid white;
  margin-bottom: 17px;
}
/* responsive for Introduce Section */
/* Screen smaller than 1280px */
@media (max-width: 1280px) {
  .container-vision {
    padding: 0px 16px;
  }
}
/* Screen smaller than 768px */
@media (max-width: 768px) {
  .vision-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* Screen smaller than 480px */
@media (max-width: 480px) {
  .vision-ctn {
    padding: 50px 0px 98px;
  }
  .vision-content {
    gap: 5.7%;
  }
  .vision-content-text h2 {
    font-size: 28px;
    letter-spacing: 2.8px;
    margin-top: 0px;
    margin-bottom: 29px;
  }

  .vision-content-mask {
    padding: 69px 37px 86px;
  }
  .vision-content-mask h2 {
    letter-spacing: 6.4px;
    margin-top: 0px !important;
    margin-bottom: 53px !important;
  }
  .vision-content-position h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin-bottom: 14px;
  }
}

/* Footer Section */
.footer-ctn {
  display: flex;
  padding: 22px 0px;
  align-items: center;
  justify-content: space-between;
}
.footer-ctn-left {
  gap: 24px;
  display: flex;
  align-items: center;
}
.footer-copyright p,
.footer-copyright-2 p {
  font-size: 10px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #7f7d80;
}
.footer-copyright span,
.footer-copyright-2 span {
  font-weight: 700;
}
.footer-list ul li {
  display: inline-block;
  margin-left: 27px;
}
.footer-list ul li a {
  color: #7f7d80 !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.logo-ctn {
  display: flex;
  align-items: center;
  gap: 11px;
}
.footer-logo {
  width: 32px;
  height: 32px;
  border-radius: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.i-fb {
  background-color: #1877f2;
}
.i-ins {
  background: linear-gradient(
    45deg,
    #fee411 11.93%,
    #fedb16 15.61%,
    #fec125 21.74%,
    #fe983d 29.56%,
    #fe5f5e 38.66%,
    #fe2181 47.46%,
    #9000dc 82.98%
  );
}
.i-tw {
  background-color: #03a9f4;
}
.i-tiktok {
  background-color: black;
}
.footer-ctn-right,
.footer-copyright-2 {
  gap: 47px;
  display: flex;
  align-items: center;
}
.footer-copyright-2 {
  display: none;
}
/* responsive for Footer */
/* Screen smaller than 1025 */
@media (max-width: 1025px) {
  .footer-ctn {
    flex-direction: column;
    gap: 20px;
  }
  .footer-copyright {
    display: none;
  }
  .footer-copyright-2 {
    display: block;
  }
}
/* Screen smaller than 768px */
@media (max-width: 768px) {
  .footer-ctn-left,
  .footer-ctn-right {
    flex-direction: column;
  }
  .footer-ctn-right {
    gap: 20px;
  }
}
/* Screen smaller than 480px */
@media (max-width: 480px) {
  .footer-ctn {
    padding: 34px 0px 30px;
  }
  .footer-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .footer-list ul li {
    margin-left: 0px;
  }
  .footer-ctn-right {
    gap: 17px;
  }
  .footer-copyright-2 p {
    letter-spacing: 0.75px;
    text-align: left;
    margin-top: 5px;
  }
}
